<%- include('includes/header') %>
<body>
    <div>
    </div>Products Page</div>
   <div><%=member.memberNick%></div>

   <% products.map((value,key) =>{ %>
 <p><%= value.productName %> <%= value.productSize %></p>
   <% })  %>

    </div>
</body>

<%- include('includes/footer') %>